<!DOCTYPE html>
<html>
  <head>
    <title>Your Blog</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/new-post">Add New Blog</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main><%- block content %></main>
    <footer>
      <p>&copy; 2023 Your Blog. All rights reserved.</p>
    </footer>
  </body>
</html>
