<!DOCTYPE html>
<html>
  <head>
    <title>Add new post</title>
  </head>
  <body>
    <header>
      <h1 style="text-align: center">Add new post</h1>
    </header>
    <main>
      <section>
        <article style="max-width: 600px; margin: 0 auto">
          <form
            action="/new-post"
            method="POST"
            style="
              background-color: #f7f7f7;
              padding: 20px;
              border-radius: 5px;
              box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
            "
            enctype="multipart/form-data"
          >
            <label
              for="title"
              style="display: block; margin-bottom: 5px; font-weight: bold"
              >Title</label
            >
            <input
              type="text"
              name="title"
              required
              placeholder="Title of the blog"
              style="
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                margin-bottom: 10px;
              "
            />
            <label
              for="category"
              style="display: block; margin-bottom: 5px; font-weight: bold"
              >Category</label
            >
            <select
              name="category"
              required
              style="
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                margin-bottom: 10px;
              "
            >
              <option value="" disabled selected>Select a category</option>
              <option value="food">Food</option>
              <option value="tech">Tech</option>
              <option value="travel">Travel</option>
            </select>
            <label
              for="image"
              style="font-weight: bold; font-size: 16px; color: #333"
              >Image</label
            >
            <input
              type="file"
              name="image"
              style="
                margin: 10px 0px;
                padding: 5px;
                border: 1px solid #ccc;
                border-radius: 5px;
              "
              required
            />

            <label
              for="content"
              style="display: block; margin-bottom: 5px; font-weight: bold"
              >Content</label
            >
            <textarea
              name="content"
              rows="8"
              required
              placeholder="Content of the blog"
              style="
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                margin-bottom: 10px;
              "
            ></textarea>
            <button
              type="submit"
              style="
                display: inline-block;
                padding: 10px 20px;
                background-color: #333;
                color: #fff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s;
              "
            >
              Add Post
            </button>
          </form>
        </article>
      </section>
    </main>
    <footer style="text-align: center; margin-top: 20px">
      <p>&copy; 2023 Our Blog. All rights reserved.</p>
    </footer>
  </body>
</html>
